.container{
	text-align: center;
}
.container h1{
	font-family:Tahoma;
	font-weight: 800;
	font-style:italic;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.container-2{
	text-align: center;
	margin:auto;
	width: 50%;
}
.about--description p{

	font-size: 50px
	font-family: sans-serif;

}
.contact--get-in-touch p{
	text-align: center;
	font-size: 50px
	font-family: sans-serif;
	/*margin:auto;
	width:50%;	*/
}
.contact--info{
	text-align: center;
	font-size: 50px
	font-family: sans-serif;
}
.contact--social{
	/*float:left;
	width: 33.3%;
	padding:10px;
	box-sizing:border-box;*/
	text-align: center;

}
.container.image{
	text-align: left;
	/*width:800px;
	height:500px;
	/*border:1px solid #000;*/
	/*margin-top: 30px;
	/*background-image:url('DWAI.png') /*goes outside current folder into images then picks picture*/
	/*background-repeat: no-repeat;*/
	/*background-position: 100px 200px;*/
	/*background-position: center top;*/
}