/*body{
	background-color: #C0C0C0;
}

.container{
	text-align: center;
}
.container h1{
	font-family:"Courier New", Courier, monospace;
	font-weight: 800;
	font-style:italic;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.container-2{
	text-align: center;
	margin:auto;
	width: 50%;
}
.about--description p{

	font-size: 50px
	font-family: "Courier New", Courier, monospace;

}
.contact--get-in-touch p{
	text-align: center;
	font-size: 50px
	font-family: "Courier New", Courier, monospace;
	/*margin:auto;
	width:50%;	*/
}
/*font-size: 50px
	font-family: "Courier New", Courier, monospace;
}
.contact--social{
	/*float:left;
	width: 33.3%;
	padding:10px;
	box-sizing:border-box;*/
	/*text-align: center;

}
.container .image{
	text-align: left;
	/*width:800px;
	height:500px;
	/*border:1px solid #000;*/
	/*margin-top: 30px;
	/*background-image:url('DWAI.png') /*goes outside current folder into images then picks picture*/
	/*background-repeat: no-repeat;*/
	/*background-position: 100px 200px;*/
	/*background-position: center top;
}*/

body{
	background-color: #f4f4f4;
	color:#555;
	font-family: "Courier New", Courier, monospace;
	line-height:1.6em;
	margin:0;
}

a: hover{
	color:gray;
}

a: active{
	color:green;
}

a: visited{
	color:none;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

.container img {
	float:left;
	margin:25px 0px;
	width:50px;
	height:50px;
	background:lightblue;
}

.container h1{
	position:relative;
	top:18px;
	left:10px;
}

.main-header{
	background-color: lightblue;
	color:#fff;
}

.navbar{
	background-color:#333;
	color:#fff;
}

.navbar ul{
	padding:0;
	list-style: none;
}

.navbar li{
	display:inline;
}

.navbar a{
	color:#fff;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
}

#showcase {
	background-image:url(OGLOGO.png);
	background-position: center right;
	min-height: :300px;
	margin-bottom:center;
	text-align: center

}

#showcase h1{
	color:#fff;
	font-size:50px;
	line-height: 1.6em;
	padding-top: 30px
}

#Main{
	float:left;
	width:70%;
	padding:0 30px;
	background-color: 
	box-sizing: border-box;
}

#sidebar{
	float:right;
	width:30%;
	background-color: coral;
	color:black;
	padding:10px;
	box-sizing: border-box;
	margin-top: 20px;

}

.main-footer{
	background: #333;
	color: #fff;
	text-align: center;
	padding:20px;
	margin-bottom:10px;
	margin-top: 100px;
}

@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}
	#sidebar{
		width:100%;
		float:none;
	}
}

.contact--social {
	display:inline;
}

.wrapper ul{
	/*padding:20px;*/
	margin:10px;

	list-style: none;
	/*float: left;*/
    width:  80%;
    height: auto;
    /*background-size: cover;*/
}

.wrapper li{
	border:solid black;
}



li: nth-child(odd){
	background-color: gray;
	color: black;
}

li: nth-child(even){
	background-color: white;
	color:black;
}

.row {
	list-style:none;
  	display: flex;
  	flex-wrap: wrap;
  	padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  	flex: 50%;
  	padding: 0 4px;
}

.column img {
	height:100px;
	width:100px;
  	margin-top: 8px;
  	vertical-align: middle;
}

