body{
	background-color: #f4f4f4;
	color:#555;
	font-family: "Courier New", Courier, monospace;
	line-height:1.6em;
	margin:0;
}

.navbar a: hover{
	color:gray;
}

.navbar a: active{
	color:green;
}

.navbar a: visited{
	color:none;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
	color:black;
}

.container img {
	float:left;
	margin:25px 0px;
	width:50px;
	height:50px;
	background:lightblue;
}

.container h1{
	position:relative;
	top:18px;
	left:10px;
	font-family:"Courier New", Courier, monospace;
	font-size: 25px; 
	color:black;
}

.main-header{
	background-color: lightblue;
	color:#fff;
	font-size:25px; 

}

.navbar{
	background-color:#333;
	color:#fff;
}

.navbar ul{
	padding:0;
	list-style: none;
}

.navbar li{
	display:inline;
}

.navbar a{
	color:#fff;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
}

#showcase {
	background-image:url(OGLOGO.png);
	background-position: center right;
	min-height: :300px;
	margin-bottom:center;
	text-align: center

}

#showcase h1{
	color:#fff;
	font-size:50px;
	line-height: 1.6em;
	padding-top: 30px
}

#Main {
	margin:50px;
	text-align:center;
	background-color: gray;
	box-sizing: border-box;
	font-size:25px;
	font-family:"Courier New", Courier, monospace;

}

/*#sidebar{
	float:right;
	width:30%;
	background-color: coral;
	color:black;
	padding:10px;
	box-sizing: border-box;
	margin-top: 20px;

}*/

.main-footer {
	background: #333;
	color: #fff;
	text-align: center;
	padding:20px;
	margin-bottom:10px;
	margin-top: 100px;
}

@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}
	#sidebar{
		width:100%;
		float:none;
	}
}

.contact--social {
	display:inline;
}

#quotes h2{
	color:black;
	font-size:30px;
	line-height: 1.6em;
	padding-top: 30px;
	text-align: center;
	
}

.wrapper ul{
	margin:25px;
	padding:5px;
	list-style: none;
    max-width:  90%;
    height: auto;
    /*background-size: cover;*/
    text-align:center;
}

.wrapper li{
	border:solid black;
	margin-top:20px;
	max-width: 90%;
	text-align:center;
	font-size: 25px;
	font-family:"Courier New", Courier, monospace;
	color:black;

}

.wrapper li: nth-child(odd){
	background-color: gray;
	color: black;
}

#quotes li: nth-child(even){
	background-color: gray;
	color:black;
}

.row {
	list-style:none;
  	display: flex;
  	flex-wrap: wrap;
  	padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  	flex: 50%;
  	padding: 0 4px;
}

.column img {
	height:300px;
	width:300px;
  	margin-top: 8px;
  	vertical-align: middle;
}

.contact--social{
	display:inline;
}

#gear--header{
	font-family:"Courier New", Courier, monospace;
	font-size: 25px; ;
	text-align: center;
	text-decoration-style: bold;
	margin:10px 50px;
	width: 80%;

}
